.input {
  border: $grey 1px solid;
  border-radius: 15px;
  width: 100%;
  max-width: 50rem;
  padding: 1rem;
  background-color: $light-grey;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  &.dark {
    color: $white;
    background-color: $black;
    border: $blue 1px solid;
  }
}
