.card {
  min-height: 615px;
  max-width: 300px;
  background-color: $black;
  margin: 1rem;
  padding: 1rem;
  border: $blue solid 1px;

  &-img {
    max-width: 100%;
    height: auto;
  }
  &-container {
    padding: 0.5rem;
    width: 100%;
    &:nth-child(2) {
      min-height: 68px;
      padding: 0.5rem 0.5rem 0;
    }
  }
  &-text {
    color: $white;
  }
  &-span {
    color: $blue;
  }
}
