.paginate {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  flex-wrap: wrap;
  &-item {
    width: 2.5rem;
    padding: 0.5rem 0;
    border: 1px solid $blue;
    background-color: $black;
    color: $white;
    text-align: center;
    margin: 0.2rem;
    cursor: pointer;
  }
}
